{% set question_url=(settings.APP_URL|strip_path + question.get_absolute_url())|urlencode %}
<h2 class="share-question">{% trans %}Know someone who can answer?  Share a <a href="{{ question_url }}">link</a> to this question via{% endtrans %}
	{% for share_item in share_list %}
	{% if loop.last %} or {{ macros.share(site = share_item.site, site_label = share_item.site_label) }}
	{% else %}{% if loop.index == loop.length-1 %}{{ macros.share(site = share_item.site, site_label = share_item.site_label) }}
	{% else %}{{ macros.share(site = share_item.site, site_label = share_item.site_label) }},
	{% endif %}
	{% endif %}
    {% endfor %}
</h2>
