{% extends "one_column_body.html" %}
{% from "macros.html" import paginator, timeago %}
{% from "analytics/macros.html" import format_query_string, sort_icon_class, full_date %}
{% block title %}{% filter trim %}{% trans %}Analytics / Home{% endtrans %}{% endfilter %}{% endblock %}
{% block forestyle %}
  <style>
    table {
      border-collapse: collapse;
      margin-bottom: 1rem;
    }
    th, td {
      padding: 0.5rem;
    }
    th {
      background-color: #f2f2f2;
    }
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tbody td:not(:first-child) {
      text-align: center;
    }
    td {
        text-align: left !important;
    }
    .title-row {
      align-items: center;
    }
    .analytics-summary {
      margin-bottom: 2rem;
    }
  </style>
{% endblock %}
{% block layout_class %}{{ super() }} analytics-page{% endblock %}
{% block forum_header %}{% endblock %}
{% block content %}
<div class="title-row">
  <h1>
    Analytics / Content
  </h1>
  {% include "analytics/date_selector.html" %}
</div>
<div class="analytics-summary">
  <div class="analytics-summary-number">
    <div>
        <a href={{ url('analytics_content',
                       content_segment='questions',
                       users_segment=users_segment,
                       dates=dates) }}
        >
            {% trans %}Questions:{% endtrans %} {{ questions_count }}
        </a>
    </div>
  </div>
  <div class="analytics-summary-number">
    <div>
        <a href={{ url('analytics_content',
                       content_segment='answers',
                       users_segment=users_segment,
                       dates=dates) }}
        >
            {% trans %}Answers:{% endtrans %} {{ answers_count }}
        </a>
    </div>
  </div>
  <div class="analytics-summary-number">
    <div>
        <a href={{ url('analytics_content',
                       content_segment='comments',
                       users_segment=users_segment,
                       dates=dates) }}
        >
            {% trans %}Comments:{% endtrans %} {{ comments_count }}
        </a>
    </div>
  </div>
  <div class="analytics-summary-number">
    <div>
        <a href={{ url('analytics_content',
                       content_segment='all',
                       users_segment=users_segment,
                       dates=dates) }}
        >
            {% trans %}All content:{% endtrans %} {{ questions_count + answers_count + comments_count }}
        </a>
    </div>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th>Date</th>
  </thead>
  <tbody>
    {% for content_event in content_events %}
      {% set post=content_event.content_object %}
      <tr>
        <td>{{ content_event.session.user.username }}</td>
        <td>
            <a href={{ post.get_absolute_url() }}>
                {{ post.post_type[0].upper() }}:
                {% if post.post_type == 'question' %}
                    {{ post.thread.title }}
                {% endif %}
                {{ post.text|truncate(30) }}
            </a>
        </td>
        <td>{{ full_date(post.added_at) }}</td>
      </tr>
    {% endfor %}
    {% if paginator_context.is_paginated %}
      <tr class="paginator-row">
        <td colspan="3">
        {{ paginator(paginator_context) }}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}