{% from "macros.html" import paginator %}
{% extends "one_column_body.html" %}
{% block title %}{% filter trim %}{% trans %}Analytics / Home{% endtrans %}{% endfilter %}{% endblock %}
{% block layout_class %}{{ super() }} analytics-page{% endblock %}
{% block forum_header %}{% endblock %}
{% block content %}
<div class="title-row">
  <h1>
    <a href="{{ url('analytics_index') }}">{% trans %}Analytics{% endtrans %}</a> /
    <a href="{{ url('analytics_users', dates=dates_url_param, users_segment='all') }}">{% trans %}Users{% endtrans %}</a> /
    {% if not is_named_segment %}
      <a href="{{ url('analytics_users', dates=dates_url_param, users_segment=segment_slug) }}">{{ segment_name }}</a> /
    {% endif %}
    {{ group_name }}
  </h1>
  {% include "analytics/date_selector.html" %}
</div>
{% if is_named_segment %}
  {% set users_segment = segment_slug %}
{% else %}
  {% set users_segment = 'group:' + org_id | string %}
{% endif %}
<form
  class="search-form"
  action="{{ url('analytics_users', dates=dates_url_param, users_segment=users_segment) }}"
  method="get"
>
  <input
    type="text"
    id="search-input"
    name="query"
    placeholder="Search users"
    value="{{ query|escape }}"
  />
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<table>
  <thead>
    <tr>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Questions{% endtrans %}</th>
      <th>{% trans %}Answers{% endtrans %}</th>
      <th>{% trans %}Upvotes{% endtrans %}</th>
      <th>{% trans %}Downvotes{% endtrans %}</th>
      <th>{% trans %}Time on Site{% endtrans %}</th>
    </tr>
  </thead>
    {% if org_id %}
      {% set org_id_param = '&org_id=' ~ org_id %}
    {% else %}
      {% set org_id_param = '' %}
    {% endif %}
    <tbody>
      {% for user_data in users %}
        <tr>
        <td>
            <a href={{ url('analytics_users', dates=dates_url_param, users_segment='user:' ~ user_data['user'].id) ~ '?segment=' ~ segment_slug ~ org_id_param }}>{{ user_data['user'].username }}</a>
        </td>
        <td>{{ user_data["num_questions"] }}</td>
        <td>{{ user_data["num_answers"] }}</td>
        <td>{{ user_data["num_upvotes"] }}</td>
        <td>{{ user_data["num_downvotes"] }}</td>
        <td>{{ user_data['time_on_site']|format_time_on_site }}</td>
      </tr>
    {% else %}
      <tr class="no-activity-row">
        <td colspan="6">{% trans %}There has been no activity in this time period{% endtrans %}</td>
      </tr>
    {% endfor %}
    {% if paginator_context.is_paginated %}
      <tr class="paginator-row">
        <td colspan="6">
        {{ paginator(paginator_context) }}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
