{% extends "one_column_body.html" %}
{% import "analytics/macros.html" as analytics_macros %}
{% block title %}{% filter trim %}{% trans %}Analytics / Home{% endtrans %}{% endfilter %}{% endblock %}
{% block forestyle %}
  {{ super() }}
  <style>
    .analytics-event {
      margin-bottom: 2rem;
      border: var(--border-width) var(--border-style) var(--clr-neutral-65);
      border-radius: var(--border-radius);
      padding: 1rem;
      box-shadow: var(--box-shadow);
    }
    em {
      font-weight: bold;
    }
  </style>
{% endblock %}
{% block layout_class %}{{ super() }} analytics-page{% endblock %}
{% block forum_header %}{% endblock %}
{% block content %}
<div class="title-row">
  <h1>
    User activity
  </h1>
  {% include "analytics/date_selector.html" %}
</div>
<div>
  {% for event in events %}
    {% if event.event_type == Event.EVENT_TYPE_USER_REGISTERED %}
      {{ analytics_macros.event_user_registered(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_LOGGED_IN %}
      {{ analytics_macros.event_user_logged_in(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_LOGGED_OUT %}
      {{ analytics_macros.event_user_logged_out(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_QUESTION_VIEWED %}
      {{ analytics_macros.event_question_viewed(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_ANSWER_VIEWED %}
      {{ analytics_macros.event_answer_viewed(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_UPVOTED %}
      {{ analytics_macros.event_upvoted(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_DOWNVOTED %}
      {{ analytics_macros.event_downvoted(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_VOTE_CANCELED %}
      {{ analytics_macros.event_vote_canceled(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_ASKED %}
      {{ analytics_macros.event_asked(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_ANSWERED %}
      {{ analytics_macros.event_answered(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_QUESTION_COMMENTED %}
      {{ analytics_macros.event_question_commented(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_ANSWER_COMMENTED %}
      {{ analytics_macros.event_answer_commented(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_QUESTION_RETAGGED %}
      {{ analytics_macros.event_question_retagged(event) }}
    {% elif event.event_type == Event.EVENT_TYPE_SEARCHED %}
      {{ analytics_macros.event_searched(event) }}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
