{% extends "one_column_body.html" %}
{% block title %}{% filter trim %}{% trans %}Analytics / Home{% endtrans %}{% endfilter %}{% endblock %}
{% block forestyle %}
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      padding: 0.5rem;
    }
    th {
      background-color: #f2f2f2;
    }
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tbody td:not(:first-child) {
      text-align: center;
    }
    .title-row {
      align-items: center;
    }
    .analytics-summary {
      margin-bottom: 2rem;
    }
  </style>
{% endblock %}
{% block layout_class %}{{ super() }} analytics-page{% endblock %}
{% block forum_header %}{% endblock %}
{% block content %}
<div class="title-row">
  <h1><a href="{{ url('analytics_index') }}">{% trans %}Analytics{% endtrans %}</a> / {% trans %}Users{% endtrans %} / {% trans %}General statistics{% endtrans %}</h1>
  {% include "analytics/date_selector.html" %}
</div>
<div class="analytics-summary">
  <div class="analytics-summary-number">
    <div>{% trans %}All:{% endtrans %} {{ all_users_count }}</div>
    <p>{% trans %}All users{% endtrans %}</p>
  </div>
  <div class="analytics-summary-number">
    <div>
        {{ non_admins_slice_name }}:
        {{ non_admins_count }}
    </div>
    <p>
      {{ non_admins_slice_description }}
    </p>
  </div>
  {% if orgs_enabled %}
    <div class="analytics-summary-number">
      <div>{% trans %}Organizations:{% endtrans %} {{ orgs_count }}</div>
      <p>{% trans %}According to the email domain names{% endtrans %}</p>
    </div>
  {% endif %}
</div>
<table>
  <thead>
    <tr>
      <th>{% trans %}Group{% endtrans %}</th>
      <th>{% trans %}Num Users{% endtrans %}</th>
      <th>{% trans %}Users Added{% endtrans %}</th>
      <th>{% trans %}Questions{% endtrans %}</th>
      <th>{% trans %}Answers{% endtrans %}</th>
      <th>{% trans %}Upvotes{% endtrans %}</th>
      <th>{% trans %}Downvotes{% endtrans %}</th>
      <th>{% trans %}Time on Site{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{% trans %}All{% endtrans %}</td>
      <td>{{ vip_data['num_users'] + customer_data['num_users'] }}</td>
      <td>{{ vip_data['num_users_added'] + customer_data['num_users_added'] }}</td>
      <td>{{ vip_data['num_questions'] + customer_data['num_questions'] }}</td>
      <td>{{ vip_data['num_answers'] + customer_data['num_answers'] }}</td>
      <td>{{ vip_data['num_upvotes'] + customer_data['num_upvotes'] }}</td>
      <td>{{ vip_data['num_downvotes'] + customer_data['num_downvotes'] }}</td>
      <td>{{ vip_data['time_on_site'] + customer_data['time_on_site'] }}</td>
    </tr>
    <tr>
      <td>WindRiver</td>
      <td>{{ vip_data['num_users'] }}</td>
      <td>{{ vip_data['num_users_added'] }}</td>
      <td>{{ vip_data['num_questions'] }}</td>
      <td>{{ vip_data['num_answers'] }}</td>
      <td>{{ vip_data['num_upvotes'] }}</td>
      <td>{{ vip_data['num_downvotes'] }}</td>
      <td>{{ vip_data['time_on_site'] }}</td>
    </tr>
    <tr>
      <td>{% trans %}Customers{% endtrans %}</td>
      <td>{{ customer_data['num_users'] }}</td>
      <td>{{ customer_data['num_users_added'] }}</td>
      <td>{{ customer_data['num_questions'] }}</td>
      <td>{{ customer_data['num_answers'] }}</td>
      <td>{{ customer_data['num_upvotes'] }}</td>
      <td>{{ customer_data['num_downvotes'] }}</td>
      <td>{{ customer_data['time_on_site'] }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
